<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.CourseCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuecheng.content.model.po.CourseCategory">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="label" property="label" />
        <result column="parentid" property="parentid" />
        <result column="is_show" property="isShow" />
        <result column="orderby" property="orderby" />
        <result column="is_leaf" property="isLeaf" />
    </resultMap>

    <!-- 通用查询结果列 -->
<!--    <sql id="Base_Column_List">-->
<!--        id, name, label, parentid, is_show, orderby, is_leaf-->
<!--    </sql>-->

    <select id="treeNodes" resultType="com.xuecheng.content.model.dto.CategoryListDto">
        with recursive tree as (
            select * from course_category c1 where id = #{id} #表的初始值只有根节点，顺着根节点往下递归
            union all
            select c2.* from course_category c2 inner join tree on tree.id = c2.parentid # 递归条件，不满足即为递归出口
        )
        select * from tree order by tree.id,tree.orderby
    </select>


</mapper>
